<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- <link href="css/font-awesome.min.css" rel="stylesheet"> -->
    <!-- <link href='css/gfont.css' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <!--This is hidden/shown automatically after Durandal loads. -->
  <div id="app">
    <div class="container">
      <div class="overlay">
        <form class="form-signin" role="form" @submit.prevent="doLogin">
          <h3 class="form-signin-heading">Please sign in</h3>

          <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
            <input class="form-control" type="text" placeholder="Username" required autofocus v-model="username">
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-unlock-alt fa-fw"></i></span>
            <input class="form-control" type="password" placeholder="Password" required  v-model="password">
          </div>

          <div>
            <label class="checkbox" title="Check this to have your username saved for the next time you sign in.">
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

        <div class="footer">
          <span class="pull-right">&copy; 2017 <a  target="_blank" title="Company">Pecel Lele Company</a></span>
        </div>
      </div>
    </div> <!-- /container -->
  </div>
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <script text="text/javascript">
      var app= new Vue({
        el:'#app',
        data: {
          username: '',
          password: ''
        },
        methods: {
          doLogin() {
              var self = this
              axios.post('http://localhost:3000/api/signin', {
                username: self.username,
                password: self.password
              })
              .then( (response) => {
                if(response.data) {
                  // console.log('ini response.data',response.data);
                  // console.log('ini response.data.role',response.data.role);
                  // console.log('ini response.data.token',response.data.token);
                  console.log('======masuk login');
                  localStorage.setItem('token', response.data.token)
                  if (response.data.role == 'admin') {
                    window.location.href='admin.html'
                  }
                  if (response.data.role == 'kasir') {
                    window.location.href='kasir.html'
                  }
                }
              })
              .catch( (err) => {
                console.log(err);
                alert('Login error')
              } )
          }
        }
      })
    </script>
  </body>
</html>
