<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Kasir</title>

  <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link href="css/style.css" rel="stylesheet">
<link href="css/footer.css" rel="stylesheet">
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-default">
      <div class="container-fluid" style="background:rgb(56, 223, 108)">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a style="color:rgb(247, 248, 252)" class="navbar-brand" href="kasir.html">Menu Kasir</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a style="color:rgb(247, 248, 252)" href="#">HOME</a></li>
            <li><a style="color:rgb(247, 248, 252)" href="#">CONTACT</a></li>
            <li><a style="color:rgb(247, 248, 252)" href="#">DELIVERY</a></li>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
              <button class="btn btn-primary" type="button" name="button">Search Menu</button>
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <button type="button" name="button" @click="logout">Logout</button>
          </ul>
          <div class="cart">
            <div>
              <button style="color:rgb(250, 250, 250)" type="button" class="btn btn-primary" @click="showCart = !showCart" v-show="!verified">
                <span class="glyphicon glyphicon-shopping-cart"></span> {{ total_item + (total_item > 1 ? " items" : " item") }}
              </button>
            </div>
              <div class="btn-cart" v-show="showCart">
                <div v-show="items.length > 0">
                  <ul>
                    <li v-for="item in items" transition="fade">
                      <p><strong>{{ item.quantity }}</strong> - {{ item.price }} &nbsp;<i class="fa fa-trash fa-lg" @click="removeFromCart(item)"></i></p>
                    </li>
                  </ul>
                <div><button @click="verified = true, showCart = false" class="button is-primary is-outlined">Check out</button></div>
                </div>
                <div v-show="items.length === 0">
                  <p>Your cart is empty!</p>
                </div>
                <div v-if=login>
                  Welcome {{username}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    <!--form update category product -->

    <hr/>
    <!-- div all product-->
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="list-group">
          <h3>Categories</h3>
          <a href="#" class="list-group-item">Lele Bakar</a>
          <a href="#" class="list-group-item">Lele Goreng</a>
          <a href="#" class="list-group-item">Lele Kremes</a>
          <a href="#" class="list-group-item">Paket Komplit</a>
          <a href="#" class="list-group-item">Paket Hemat</a>
          <a href="#" class="list-group-item">Diskon Hari Ini</a>
        </div>
      </div>
      <div v-show="!verified">
        <div class="col-sm-6 col-md-3" v-for = "item in menus">
          <div class="thumbnail">
            <h4 class="text-center"><span class="label label-info" style="background:rgb(56, 223, 108)">{{item.category}}</span></h4>
            <img v-bind:src="item.image" class="img-responsive">
            <div class="caption">
              <div class="row">
                <div class="col-md-6 col-xs-6">
                  <h3>{{item.nama_menu}}</h3>
                </div>
                <div class="col-md-6 col-xs-6 price">
                  <h3>
                  <label>Rp {{item.harga}}</label></h3>
                  <h4><label>Stock:  {{item.stock}}</label></h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <a class="btn btn-primary btn-product" @click="check(item)">Detail</a>
                </div>
                <div class="col-md-6">
                  <button type="text" href="#" class="btn btn-success btn-product" @click="addToCart(item)">
                    <span class="glyphicon glyphicon-shopping-cart">
                    </span> Add Cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="checkout" v-show="verified">
          <h3><i class="fa fa-shopping-cart fa-lg">&nbsp;Total Pembayaran Kamu:</i></h3>
          <div class="columns">
            <div class="column column is-4">
              <h5 v-for="item in items">Jumlah Pembelian : {{ item.quantity }} <br>Nama Item: {{ item.name }} <br> Harga Jual: {{item.price}}</h5>
              <h5 v-for="item in items">Total Pembelian Per Kue :  Rp. {{ item.price * item.quantity }},-</h5>
            </div>
          </div>
            <hr />
          <div>
            <div>
              <h5 style="text-align:left">Total: </h5>
            </div>
            <div>
              <h5>Rp. {{ total }},-</h5>
            </div>
          </div>
          <div>
            <div class="column column is-4 is-offset-8">
              <a class="button is-info is-medium is-outlined" @click="checkOut()">Check Out</a>
            </div>
          </div>
        </div>

    </div>
    </div>


<script>
  var app = new Vue({
    el: "#app",
    data: {
      //message : 'tes vue js',
      items: [],
      menus: [],
      showCart: false,
      verified: false,
      total_item: 0,
      nama_menu: '',
      price: null,
    },
    mounted() {
      axios.get('http://localhost:3000/api/menus/')
      .then( response => this.menus = response.data)
      .catch( err => console.log(err));
    },
    computed: {
      total() {
       var total = 0;
       total = this.items.reduce((sum, current) => sum + (current.quantity * current.price), 0);
       return total;
      }
    },
    methods: {
      addToCart(item) {
        let index = this.items.findIndex(element => element._id == item._id);
        if (index !== -1) {
          if (item.stock == 0) {
            alert('Maaf Stock Kosong');
          } else {
            this.items[index].quantity++;
            this.items[index].stock--;
            this.total_item++;
            alert('add to cart success');
          }
        } else {
          item.quantity = 1;
          this.items.push(item);
          this.total_item++;
          item.stock--;
          alert('add to cart success');
        }
      },

    removeFromCart(item) {
     let index = this.items.findIndex(element => element._id == item._id);
      this.total_item = this.total_item - this.items[index].quantity;
      this.items.splice(index, 1);
    },
    logout() {
      localStorage.clear()
      window.location.href='index.html'
    }
 }

  })
</script>

</body>

</html>
